{% extends "admin/dashboard.html" %}
{% block content %}
    <div class="m-5 flex justify-center flex-col">
        <ul>
            {% for message in messages %}
                <li class="bg-green-500 text-white px-1 py-2">{{message}}</li>
            {% endfor %}
        </ul>
        <form action="" method='POST' class="flex items-center flex-col gap-3">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="px-2 py-1 text-white bg-blue-500 rounded-lg">Assign Role</button>
        </form>
    </div>
{% endblock content %}