{% extends "dashboard/dashboard.html" %}
{% block title %}Manager Dashboard{% endblock title %}
{% block tasks %}
{% comment %} Task Table {% endcomment %}
<div class="bg-white rounded-xl shadow-sm mx-8">
    <div class="grid grid-cols-4 p-4 border-b border-gray-100 text-sm text-gray-500">
        <div>TASK TITLE</div>
        <div>PRIORITY</div>
        <div>TEAM</div>
        <div>CREATED AT</div>
    </div>
    {% for task in tasks %}
        <div class="grid grid-cols-4 p-4 gap-4 items-center border-b border-gray-100">
            <div class="flex items-center gap-2">
                {% if task.details.priority == 'L' %}
                <div class="w-2 h-2 rounded-full bg-green-500"></div>
                {% elif task.details.priority == 'H' %}
                <div class="w-2 h-2 rounded-full bg-red-500"></div>
                {% elif task.details.priority == 'M' %}
                <div class="w-2 h-2 rounded-full bg-yellow-500"></div>
                {% endif %}
                <div class="flex justify-between gap-2">
                    <span>{{task.title}}</span>
                    <span><a href='{% url "update-task" task.id %}' class="px-2 py-1 rounded-lg bg-green-500">Edit</a></span>
                    <form action='{% url "delete-task" task.id %}' method='POST'>
                        {% csrf_token %}
                        <span><button type="submit" class="px-2 py-1 rounded-lg bg-red-500">Delete</a></span>
                    </form>
                </div>
            </div>
            <div>
                {% if task.details.priority == 'L' %}
                <span class="px-3 py-1 rounded-full bg-blue-50 text-blue-600 text-sm">{{task.details.get_priority_display}}</span>
                {% elif task.details.priority == 'H' %}
                <span class="px-3 py-1 rounded-full bg-red-50 text-red-600 text-sm">{{task.details.get_priority_display}}</span>
                {% elif task.details.priority == 'M' %}
                <span class="px-3 py-1 rounded-full bg-gray-50 text-gray-600 text-sm">{{task.details.get_priority_display}}</span>
                {% endif %}
            </div>
            <div>
                <div class="flex -space-x-2">
                    {% for emp in task.assigned_to.all %}
                    <div
                        class="w-10 h-10 rounded-full bg-blue-500 text-white flex justify-center items-center text-sm border-2 border-white">
                        {{emp.name|slice:':1'}}</div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <span class="text-gray-500">{{task.created_at|timesince}}</span>
            </div>
        </div>
    {% endfor %}
{% endblock tasks %}